################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.filters
*.vcxproj
*.sln
/.vs/Project3/v16
